img {
  max-width: 450px;
  border: 1px solid #999;
  border-radius: 5px;
}

.image-showing {
  display: none;
}


.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
