.initially-showing, .bat-showing, .alien-showing, .stormtrooper-showing, .halo-showing {
  display: none;
}

img {
  width: 350px;
}

/* Walrus */
  .clickable, .clickable2, .clickable3, .clickable4, .clickable5 {
    cursor: pointer;
    color: #0088cc;
  }

  .clickable:hover,  .clickable2:hover, .clickable3:hover, .clickable4:hover, .clickable5:hover {
    text-decoration: underline;
  }
